
<html>


<%- include("./partials/head.ejs")%>

<body>

    <%- include("./partials/header.ejs") %>

    <h1>Listado de Productos</h1>
    <ul>
        <% for (let i = 0; i < products.length; i++) { %> 
            <li>
                <%=products[i].name%>
                <%=products[i].images%>
                <%=products[i].price%>

            </li>
            <% } %>
    </ul>

    <%- include("./partials/footer.ejs") %>

</body>
</html>