<html>

<%- include("./partials/head.ejs")%>

<body>

    <%- include("./partials/header.ejs") %>
    <div class="titulo-listado-productos">
    <nav>
        <ul class="allcategories">
            <li class="listacategories">
                <i class="fas fa-headphones"></i>
                <h4>auriculares</h4>
            </li>
            <li class="listacategories">
                <i class="fas fa-mouse"></i>
                <h4>mouses</h4>
            </li>
            <li class="listacategories">
                <i class="fas fa-keyboard"></i>
                <h4>teclados</h4>
            </li>
        </ul>
    </nav>
    </div> 

    <section class="container-products">


        <% for (let i = 0; i < products.length; i++) { %> 


            <article class="prod-contenedor">
                <article class="contenedor-nombre">
                <h3> <%=products[i].name%> </h3>
                </article>
                <img src="/uploads/products/<%=products[i].images%>" alt="" class="img-producto">



                <h4 class="prod-descripcion">
                    <%=products[i].description%>
                </h4>

                <button type="button" class="btn-animado animacion-uno">
                    <div class="btn-precio">
                        <a href="products/detail/<%=products[i].id %>"><h4>Ver características del producto</h4></a>


                    </div>
                </button>

            </article>


            <% } %>
</section>

    <%- include("./partials/footer.ejs") %>

</body>
</html>