<html lang="en">

    <%- include("./partials/head.ejs" )%>

<body>

<%- include("./partials/header.ejs") %>

    <div class="container-login">
        <form id="agregar2" class="agregarform" method="POST" action="/products/create" enctype="multipart/form-data">
            <h1 class="agregar-titulo">Agregar producto</h1>
            <div class="agregarProducto">
                <div class="errores">
                    <ul id="errores">
                    </ul>
                </div>
                <label class="label" for="nombre">Nombre:</label>
                <br>
                <input class="correo-input" id="nombre" placeholder="Nombre del producto"  type="text" name="name"> 
            </div>
            <div class="agregarProducto">
                <label class="label" for="descripcion">Descripción:</label>
                <br>
                <textarea class="correo-input textarea" name="description" id="descripcion" cols="30" rows="10" placeholder="Descripcion del producto"></textarea>
            </div>
            <div class="agregarProducto">
                <label class="label"for="imagen">Imágen:</label>
                <br>
                <input class="correo-input" id="imagen" placeholder="Imagen del producto" type="file" name="filename">
            </div>
            <div class="agregarProducto">
                <label class="label" for="brand">Selecciona una marca:</label>
                <br>
                <select name="brand" type="Seleccionar una marca">
                    <% if (typeof brand != "undefined") { %> 
                        <% for(let i=0; i< brand.length; i++) {%> 
                            <option value=<%=brand[i].id %>><%=brand[i].brand %></option>
                            
                            <% } %>
                            <% } %>
    
                </select>
            </div>
            
            <div class="agregarProducto">
                <label class="label" for="category">Selecciona una categoria:</label>
                <br>
                <select name="category" type="Seleccionar una Categoria">
                    <% if (typeof category != "undefined") { %> 
                        <% for(let i=0; i< category.length; i++) {%> 
                            <option value=<%=category[i].id %>><%=category[i].category %></option>
                        <% } %>
                    <% } %>
                </select>
            </div>
            <div class="agregarProducto">
                <label class="label" for="price">Precio:</label>
                <br>
                <input class="correo-input" id="precio" placeholder="Precio del producto" type="number" name="price">
            </div>
            <div class="IS">
                <button class="btn-cuadrado" type="submit">Guardar</button>   
            </div>
        </form>
    </div>
    <script src="/public/js/productValidator.js"></script>

    <%- include("./partials/footer.ejs") %>
    
</body>
</html>