<html lang="en">

    <%- include("./partials/head.ejs" )%>

<body>

<%- include("./partials/header.ejs") %>

    <div class="container-login">
        <form id="agregar2" class="agregarform" method="POST" action="" enctype="multipart/form-data">
            <h1 class="agregar-titulo">Agregar producto</h1>
            <div class="agregarProducto">
                <div class="errores">
                    <ul id="errores">
                    </ul>
                </div>
                <label class="label" for="nombre">Nombre:</label>
                <br>
                <input class="correo-input" id="nombre" placeholder="Nombre del producto"  type="text" name="name" value="<%= product.name  %>"> 
            </div>
            <div class="agregarProducto">
                <label class="label" for="descripcion">Descripción:</label>
                <br>
                <textarea class="correo-input textarea" name="description" id="descripcion" cols="30" rows="10" placeholder="Descripcion del producto" value="<%= product.description  %> "></textarea>
            </div>
            <div class="agregarProducto">
                <label class="label"for="imagen">Imágen:</label>
                <br>
                <input class="correo-input" id="imagen" placeholder="Imagen del producto" type="file" name="filename">
            </div>
            <div class="agregarProducto">
                <label class="label" for="brand">Selecciona una marca:</label>
                <br>
                <select name="brand_id" type="Seleccionar una marca">
                    
                    
                    <% if (typeof brand !="undefined" ) { %>
                        <% for(let i=0; i< brand.length; i++) {%>
                            <% if(product.brand_id==brand[i].id){ %>
                                <option selected value=<%=brand[i].id %>><%= brand[i].brand %>
                                </option>
                                <% } else { %>
                                    <option value=<%=brand[i].id %>><%= brand[i].brand %>
                                    </option>
                                <%} %>
                            <% } %>
                        <% } %>

                </select>
            </div>
            
            <div class="agregarProducto">
                <label class="label" for="categories">Selecciona una categoria:</label>
                <br>
                <select name="categories_id" type="Seleccionar una Categoria">

                    <% if (typeof categories != "undefined") { %> 
                        <% for(let i=0; i< categories.length; i++) {%> 
                            <option value=<%=categories[i].id %>><%=categories[i].categories %></option>
                            
                            <% } %>
                            <% } %>

                </select>
            </div>
            <div class="agregarProducto">
                <label class="label" for="price">Precio:</label>
                <br>
                <input class="correo-input" id="precio" placeholder="Precio del producto" type="number" name="price" value=<%=product.price %>>
            </div>
            <div class="IS">
                <button class="btn-cuadrado" type="submit">Guardar</button>
                
            </div>
       
        </form>
    </div>

    <%- include("./partials/footer.ejs") %>
    
</body>
</html>