<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/head.ejs")%>

  <body>

    <%- include("./partials/header.ejs") %>

    <main class="container-login">
    <h1 class="agregar-titulo">Detalle de Producto</h1>
    <div class="descripcion">
    <div>
      <img src="/uploads/products/<%=product.images%>" alt="" class="img-producto">
    </div>
    <div class="content-detail">
      <p class="detail_name"><%=product.name%></p>
  <h2 class="agregar-titulo margin-top">Descripción</h2>
  <div>
  <p class="detail_margin"><%=product.description%></p>
  <p class="detail_margin"> $ <%=product.price%></p>
  <!-- <p class="detail_margin">20% OFF</p> -->
  <p class="detail_margin">12 Cuotas sin interes</p>
  <img class="pago" src="/img/pago.jpg" alt="">
</div>
  <button class="btn-cuadrado" type="submit">Comprar <i class="fas fa-shopping-cart"></i> </button>
</div>
</div>
    </main>

    <%- include("./partials/footer.ejs") %>

  </body>
</html>